# Mac
.DS_Store

# iOS
MiamiApp/platforms/ios/build/
MiamiApp/platforms/ios/www/
MiamiApp/platforms/ios/cordova/console.log
*.xcuserdatad

# android
 MiamiApp/platforms/android/assets/www
 MiamiApp/platforms/android/bin
 MiamiApp/platforms/android/gen
 MiamiApp/platforms/android/local.properties
 MiamiApp/platforms/android/ant-build
 MiamiApp/platforms/android/ant-gen
 MiamiApp/platforms/android/CordovaLib/ant-build
 MiamiApp/platforms/android/CordovaLib/ant-gen
 MiamiApp/platforms/android/CordovaLib/bin
 MiamiApp/platforms/android/CordovaLib/gen
 MiamiApp/platforms/android/CordovaLib/local.properties

# wp8
 MiamiApp/platforms/wp8/bin
 MiamiApp/platforms/wp8/obj
 MiamiApp/platforms/wp8/www
 MiamiApp/platforms/wp8/.staging
 MiamiApp/platforms/wp8/*.suo
 MiamiApp/platforms/wp8/*.csproj.user

# res
 MiamiApp/resources/signing
