        div.view {
            width: 800px;
            height: 800px;
            postion: relative;
            margin-top: 100px;
            margin-left: auto;
            margin-right: auto;
        }
        div.icon {
            width: 800px;
            height: 300px;
            position: relative;
            top: 0px;
        }
        img{
            width:200px;
            height:150px;
            display: block;
            postion: relative;
            margin: auto;
        }
        h1.detail {
            text-align: center;
            position: relative;
            top: 10px;
            bottom: auto;
            color:#FF0000;
            font-weight:bold;
        }
        span.name {
            color:#4C4C4C;
            font-weight:bold;

        }
        div.search {
            width: 800px;
            height: 100px;
            position: relative;
            top: 0px;
        }
        select {
            width: 600px;
            padding: 12px 20px;
            margin-left: 100px;
            margin-right: auto;
            display: inline-block;
            border: 3px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            font-size:15px;
        }
        div.for {
            width: 800px;
            height: 100px;
            position: relative;
            top: 0px;
        }
        label {
            color:#4C4C4C;
            font-size: 20px;
            position: relative;
            margin-left: 100px;
            margin-right: auto;
        }
        input[type=text]{
            width: 600px;
            padding: 12px 20px;
            margin-left: 100px;
            margin-right: auto;
            display: inline-block;
            border: 3px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            font-size:15px;
        }
        div.searchbar {
            width: 800px;
            height: 150px;
            position: relative;
            top: 30px;
        }
        button {
            background-color: #D32F2F;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 600px;
            margin-left: 100px;
            font-size: 20px;
            font-weight:bold;
        }
